<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<tbody>

<div>
    <div id="search">Wait unit it get updates...</div>

    <script>
        var xhr = new XMLHttpRequest();

        var i = 0;
        let interval = 1000;
        var refreshIntervalId = setInterval(function() {
            doSomeThing();
        }, interval);
        doSomeThing = function () {
            xhr.open('GET', '/update');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    document.getElementById("search").textContent=xhr.responseText;
                    console.log('User\'s name is ' + xhr.responseText);
                }
                else {
                    console.log('Request failed.  Returned status of ' + xhr.status);
                    clearInterval(refreshIntervalId);
                }
            };
            xhr.send();
        }
    </script>
</div>
</tbody>
</body>
</html>